doctype html
html
	head
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(rel='stylesheet', href='/resources/css/materialize.css')
		script(src='/resources/js/Plugins/jquery-2.1.4.min.js')
		script(src='/resources/js/Plugins/materialize.js')
		script(src='/resources/js/Plugins/socket_io.js')
		script(src='/resources/js/InterfaceJs/eventos.js')
	

		block title 
			title Nosso Lar

		meta(name='viewport' content='width=device-width, initial-scale=1.0')

	
		body

			block content
