doctype html
html
	head
		script
			include ./resources/js/jquery-2.1.4.min.js
			include ./resources/js/materialize.js
		block title 
			title Nosso Lar
		style
			link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
			include ./resources/css/materialize.css

		meta(name='viewport' content='width=device-width, initial-scale=1.0')

	
		body

			block content
