extends _layout.jade

block content

	div.container
		div.row
			h1.red-text.center#tituloBemVindo  Página não encontrada
			h5.purple-text.center Talvez essa página não exista ou algum erro tenha acontecido, volte e tente novamente.
	